<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
      <providers>
        <pattern>
          <omitEmptyFields>true</omitEmptyFields>
          <!-- Encoder Details see https://github.com/logstash/logstash-logback-encoder#accessevent-patterns -->
          <!-- Pattern see http://logback.qos.ch/xref/ch/qos/logback/access/PatternLayout.html -->
          <pattern>
            {
            "@timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSSZZ}",
            "type": "access",
            "protocol": "%protocol",
            "method": "%requestMethod",
            "path": "%requestURI",
            "query": "#nullNA{%queryString}",
            "status": "#asLong{%statusCode}",
            "duration": "#asLong{%elapsedTime}",
            "bytesSent": "#asLong{%bytesSent}",
            "userAgent": "#nullNA{%header{User-Agent}}",
            "requestId": "%responseHeader{X-Request-ID}",
            "remoteIp": "%remoteIP",
            "user": "#nullNA{%user}"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>
  <appender-ref ref="CONSOLE_JSON"/>
</configuration>
